name: golang-pipeline

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25'

      - name: Run Unit Tests with verbose output
        run: go test -v -race ./...

      - name: Vet
        run: go vet ./...

      - name: Build
        run: go build -buildvcs=false -o main .  # ← ДОБАВЬТЕ ФЛАГ ЗДЕСЬ